<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StimuliXpert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StimuliXpert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <StimuliXpert.Properties.Settings>
            <setting name="Counter_Font" serializeAs="String">
                <value>Microsoft Sans Serif, 48pt</value>
            </setting>
            <setting name="Counter_Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Cross_Font" serializeAs="String">
                <value>Microsoft Sans Serif, 48pt</value>
            </setting>
            <setting name="Cross_Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Warnings_Counter_Cross" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Output_Path_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cursor_log" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Normalize_Value" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Extension" serializeAs="String">
                <value>.txt</value>
            </setting>
            <setting name="Delimiter" serializeAs="String">
                <value>space</value>
            </setting>
            <setting name="Header" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Display_Time" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Between_Time" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Counter_Time" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Number_of_elements" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Evaluation_Time" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fixation_Cross" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keystroke_log" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Random_Sequence" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Fixation_Cross_Time" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Collector" serializeAs="String">
                <value>False</value>
            </setting>
        </StimuliXpert.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <StimuliXpert.Properties.Settings>
            <setting name="Default_Counter_Font" serializeAs="String">
                <value>Microsoft Sans Serif, 48pt</value>
            </setting>
            <setting name="Default_Counter_Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Default_Cross_Font" serializeAs="String">
                <value>Microsoft Sans Serif, 48pt</value>
            </setting>
            <setting name="Default_Cross_Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Default_Warnings_Counter_Cross" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Default_Output_Path_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_Cursor_log" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_Normalize_Value" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Default_Extension" serializeAs="String">
                <value>.txt</value>
            </setting>
            <setting name="Default_Delimiter" serializeAs="String">
                <value>space</value>
            </setting>
            <setting name="Default_header" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_Display_Time" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Default_Between_Time" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Default_Counter_Time" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Default_Number_of_elements" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Default_Evaluation_Time" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Default_Fixation_Cross" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_Keystroke_log" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_Random_Sequence" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Default_Fixation_Cross_Time" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Default_Collector" serializeAs="String">
                <value>False</value>
            </setting>
        </StimuliXpert.Properties.Settings>
    </applicationSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="Libraries"/>
        </assemblyBinding>
    </runtime>
</configuration>